.whatwedo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  height: calc(100vh - 12vh);
  
  @media screen and (min-width: 768px) {
    height: calc(100vh - 190px);
  }

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    padding: 0 20px;

    height: calc(100vh - 108px);

    width: 1460px;
    margin: 0 auto;
    gap: 141px;
  }

  .whatwedo__resume {
    padding: 0 15px;
    position: relative;

    @media screen and (min-width: 768px) {
      width: 693px;
    }

    button {
      left: 5%;
      right: 75%;
      position: relative;

      @media screen and (min-width: 768px) {
        right: 0;
      }
    }
  }

  .whatwedo__video {
    margin-top: 70px;

    @media screen and (min-width: 768px) {
      width: 621px;
    }
  }
}
