.forcompanies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .forcompanies__image {
    margin-top: 20px;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 768px) {
      width: 693px;
    }
  }
}
