.aboutus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  @media screen and (min-width: 768px) {
    gap: 30px;
    flex-wrap: nowrap;
    flex-direction: column;

    padding-top: 60px;

    height: calc(100vh - 190px);
  }

  .aboutus__resume {
    padding: 0 15px;
  }

  .aboutus__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      gap: 38px;
    }

    .aboutus__list--card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      text-align: inherit;
      background-color: #fff;

      margin-bottom: 40px;

      width: 308px;
      height: 316px;

      @media screen and (min-width: 768px) {
        width: 643px;
      }

      .img--card {
        padding-bottom: 20px;

        @media screen and (min-width: 768px) {
          padding-left: 25px;
        }
      }

      .title--card {
        color: #000;
        text-align: center;
        font-family: PoppinsBold;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 110% */
        letter-spacing: 0.5px;

        padding-bottom: 10px;

        @media screen and (min-width: 768px) {
          padding-left: 25px;
        }
      }

      .text--card {
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.5px;

        @media screen and (min-width: 768px) {
          padding-left: 25px;
        }
      }
    }
  }
  
  .aboutus__help {
    padding: 20px;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 948px;
    }

    .aboutus__help--block {
      border-radius: 20px;
      border: 0.5px solid #ffa41d;
      background: #fff;
      box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.05);

      padding: 10px;

      width: 94%;
      .text--block {
        display: flex;
        justify-content: space-between;

        color: var(--secondary-dark, #16194f);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
      }

      .text--block::after {
        content: url("/public/images/AboutUs/plus.png");
        display: block;
        width: 32px;
        height: 24px;
      }
    }
  }
}
