.forprofessionals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .forprofessionals__bold {
    color: #ffa41d;
  }
  .forprofessionals__resume {
    padding: 0 15px;
    .forprofessionals__resume--title {
      color: #0c0b0b;

      font-family: PoppinsBold;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 0.5px;

      position: relative;

      padding-top: 25px;
      padding-bottom: 15px;
    }

    .forprofessionals__resume--title::before {
      content: "";
      display: inline-block;
      background: #ffa41d;
      border-radius: 10px;
      width: 74px;
      height: 6px;

      position: absolute;
      top: 13px;
    }
    .forprofessionals__resume--subtitle {
      color: #888484;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.8px;
    }
    .forprofessionals__resume--text {
      color: #888484;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.2px;

      padding-top: 15px;
    }

    .forprofessionals__resume--link {
      color: #fff;
      background: linear-gradient(51deg, #ffa41d 0%, #ffad33 100%);
      border-radius: 20px;
      border: 0;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.76);

      position: absolute;
      right: 123px;

      margin-top: 15px;
      padding: 10px 40px;
    }
  }

  .forprofessionals__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .forprofessionals__list--card {
        text-align: center;
        width: 308px;
        height: 316px;
        border-top: 2px solid #1A52E4;

    }
  }
}
