.home {
  display: block;
  margin: 0 auto;
  background: linear-gradient(180deg, #FFA41D 0%, rgba(225, 150, 38, 0.60) 100%);
  width: 100vw;
  height: 100vh;

  .home__title {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 236px;
  }

  .home__description {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    width: 189px;
  }

  .home__link {
   
    background: linear-gradient(51deg, #ffa41d 0%, #ffad33 100%);
  }
}
